  .twinkling-page-2 {
    animation: twinkle 2s infinite;
    background-color: #d139f0; /* Новый цвет */
    box-shadow: 0 0 10px 5px rgba(219, 1, 110, 0.7); /* Эффект свечения */
  }
  
  @keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  .title-page2 {
    margin: 0;
    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    inset-block-start: 50%;
    font-family: 'Benzin-Bold';
    text-decoration: none;
    font-size: 5vmin;
    line-height: 5vmin;
    width: 60vmin;
    color: transparent;
    background-image: linear-gradient(to bottom, #ff0800, #6600cc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow-heartbeat 1s ease-in-out infinite;
  }

  @keyframes glow-heartbeat {
    0% {
      text-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(102, 0, 204, 0.7);
    }
    50% {
      text-shadow: 0 0 10px rgba(255, 0, 255, 0.7), 0 0 20px rgba(102, 0, 204, 0.7);
    }
    100% {
      text-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(102, 0, 204, 0.7);
    }
  }