.star-field-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    position: relative;
    perspective: 10vmin;
    background-image: radial-gradient(circle at 40% 40%, hsl(343, 80%, 7%) 0%, hsla(343, 80%, 10%, 0) 40%),
    radial-gradient(circle at 25% 52%, hsl(243, 80%, 9%) 0%, hsla(243, 80%, 10%, 0) 50%),
    radial-gradient(circle at 65% 56%, hsl(143, 79%, 6%) 0%, hsla(142, 77%, 7%, 0) 60%);
    background-blend-mode: screen;
  }
  
  .star {
    position: absolute;
    background-color: white;
    width: 1px;
  }

  .twinkling {
    animation: twinkle 2s infinite;
    background-color: #ffcc00;
    box-shadow: 0 0 2px 2px rgba(255, 204, 0, 0.7);
  }
  
  @keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  .star-to-ray {
    animation: starToRay 5s linear forwards;
    width: 40px;
  }
  
  @keyframes starToRay {
    0% {
      opacity: 1;
      transform: translateX(0) translateY(0) translateZ(0) scaleX(0) rotateY(0);
    }
    1% {
        opacity: 1;
        transform: translateX(0) translateY(0) translateZ(10px) scaleX(0) rotateY(90deg)
      }
    10% {
        opacity: 1;
        transform: translateX(0) translateY(0) translateZ(100px) scaleX(30) rotateY(90deg)
      }
    20% {
        opacity: 1;
        transform: translateX(0) translateY(0) translateZ(150px) scaleX(40) rotateY(90deg)
    }
    100% {
      opacity: 0;
      transform: translateX(0) translateY(0) translateZ(2000px) scaleX(70) rotateY(90deg)
    }
  }

